global
    maxconn 20000
defaults
    mode tcp
    timeout connect 5s
    timeout client 120s
    timeout server 120s
listen stats
    bind *:8404
    mode http
    stats enable
    stats uri /
listen redis_read
    bind *:6381
    balance roundrobin
    option tcp-check
    tcp-check send PING\r\n
    tcp-check expect string +PONG
    server primary primary:6379 check inter 2s
    server replica replica:6379 check inter 2s
